.review {
	align-items: center;
	display: grid;
	font-size: 0.875rem;
	gap: 0.62rem;
	grid-template-columns: [start] auto 1fr auto auto [end];
	line-height: 1.5rem;
}

.description {
	grid-column: start / end;
}

.date {
	margin-right: 0.62rem;;
}

.name {
	font-weight: bold;
}

@media screen and	(width <= 640px) {
	.review {
		grid-template-columns: [start] 1,875rem [titlestart] auto [dateend] 1fr [end]
	}

	.title {
		grid-column: titlestart / end;
	}

	.date {
		grid-column: start / dateend;
	}
} 

@media screen and	(width <= 375px) {
	.date {
		grid-column: start / end;
	}

	.rating {
		grid-column: start / end;
	}
} 