.textarea {
	background: var(--white);
	border: none;
	border-radius: 0.3125rem;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
	color: var(--black);
	color: #A4A4A4;
	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	outline-color: var(--primary);
	padding: 0.44rem 0.75rem;
	width: 100%;
} 

.textarea::placeholder {
	color: var(--grey);
}

.error {
	border: 1px solid var(--red);
}

.textareaWrapper {
	position: relative;
}

.errorMessage {
	bottom: -1.25rem;
	color: var(--red);
	left: 0;
	position: absolute;
}